.svg-white {
  background: white;
  padding: 10px;
  border-radius: 10px;
  fill: black;
}

.svg-dark {
  background: black;
  padding: 10px;
  border-radius: 10px;
  fill: white;
}

.svg-red {
  background: red;
  padding: 10px;
  border-radius: 10px;
  fill: white;
}

.svg-grey {
  background: grey;
  padding: 10px;
  border-radius: 10px;
  fill: white;
}
